body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: auto;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.price-grid {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: auto;
    max-height: auto;
    text-align: center;
    padding: 20px;
}

.price-header {
    background-color: #af874c;
    color: white;
    padding: 20px 0;
    border-radius: 10px 10px 10px 10px;
}

.price-header h1 {
    margin: 0;
}

.price-header p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

.price-content {
    padding: 20px;
}

.img {
    width: 400px;
    height: 400px;
    border-radius: 20%;
    margin: 0 auto;
}

.price {
    font-size: 2.5em;
    margin: 0;
    color: #333;
}

.description {
    margin: 10px 0;
    color: #777;
}

.features {
    list-style: none;
    padding: 0;
}

.features li {
    margin: 10px 0;
    color: #555;
}

.sign-up {
    background-color: #af874c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.sign-up:hover {
    background-color: #af874c;
}
